body{
    background-image: url(bill-murray-as-carl-spackler-in-caddyshack-argo.jpeg);
}

h1{
    text-align: center;
    color: aliceblue;
}

h2{
    display: flex;
    flex-direction:column;
    align-items: center;
    color: aliceblue;
    margin-bottom: 50px;
}


#bigbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;

}


.hole{
    display: inline-block;
    background-image: url("Golf_hole.jpeg");
    width: 200px;
    height: 200px;
}


